.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    padding: 20px;
}

.modal-container {
    background: var(--bg-surface-2);
    border-radius: var(--radius);
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height:82vh;
}

.modal-sm {
    width: 420px;
}

.modal-md {
    width: 720px;
}

.modal-lg {
    width: 900px;
}